.loginCanvas {
  background-color: #65bad1;
  border: 2px solid rgb(2, 77, 2);
  min-width: 55vw;
  min-height: 35vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 2.5vw;
}

.loginTitle {
  position: absolute;
  margin-top: -27vw;
}

.loginSubtitle {
  position: absolute;
  margin-top: -17vw;
}

.loginTexts {
  padding: 1vw;
}

.loginInputs {
  padding: 1vw;
}

.loginInputText {
  background-color: white;
  color: black;
  width: 21vw;
  height: 2.2vw;
}

.loginInputPassword {
  background-color: white;
  color: black;
  width: 21vw;
  height: 2.2vw;
}

button {
  width: 9vw;
  height: 4vw;
}

.loginButtonText {
    font-size: 2.5vw;
}

.break {
  flex-basis: 100%;
  height: 0;
}
